:host {
  display: block;
}

.filename {
  position: relative;
  top: -1rem;
  text-align: right;
}
.filename span {
  background: var(--primary);
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.code {
  overflow-x: auto;
}
