:host {
  display: flex;
  padding: 0 1rem;
}

h2 {
  display: inline-block;
  flex-grow: 1;
}

input {
  position: relative;
  height: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
  border: 1px solid #888;
}
