:host {
  display: block;
  width: 400px;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  overflow: hidden;
}

.list-container {
  background-color: lightgray;
  height: 400px;
  overflow: auto;
}

.no-items {
  margin-top: 180px;
  text-align: center;
  color: gray;
}
