/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #007f82;
  --primary-dark: #00434c;
}

html {
  height: 100%;
  background-image: url("./assets/clouds.jpg");
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h2 {
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
}

.content {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.content > * {
  margin-bottom: 3rem;
}

.floating-container {
  background-color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--primary);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
