.example-title {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  align-items: center;
}
.example-icon {
  text-align: right;
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

